.app {
  width: 100%;
  height: 100%;
}

.nav-links {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 70%;
  display: flex;
  justify-content: space-around;
  background-color: #645C5C;
  padding: 3px;
  border-radius: 8px;
}

.nav-links > * {
  text-decoration: none;
  color: white;

}

.home-title {
  font-size: 130px;
  position:fixed;
  bottom: 10%;
  left: 10%;
  z-index: 10;
  color: white;
  width: 00px;
  font-weight: 100;
}

.sign-in-route-body, .sign-up-route-body {
  width: 30%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ACA9A9;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sign-in-route-body > input,label, .sign-up-route-body > input,label {
  width: 90%
}

.sign-in-route-body > button , .sign-up-route-body > button {
  width: 50%
}

.sign-out-route {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ACA9A9;
  padding: 10px;
  border-radius: 10px;
}

