.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* NAV BAR STYLING */

.nav-links {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 70%;
  display: flex;
  justify-content: space-around;
  background-color: #645C5C;
  padding: 3px;
  border-radius: 8px;
}

.nav-links > * {
  text-decoration: none;
  color: white;

}

/* SIGN IN/UP/OUT BOX FORMATTING */

.sign-in-wrapper {
  height: 100%;
  width: 100%;
  background-image: url('background_1.jpg');
  background-size:cover;
  position: fixed;
}

.home-title {
  font-size: 130px;
  position:fixed;
  bottom: 10%;
  left: 10%;
  z-index: 10;
  color: white;
  width: 00px;
  font-weight: 100;
}

.sign-in-form, .sign-up-route-body {
  background-color: #c9a39c99;
  width: 100%;
  padding: 10px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}

.sign-in-route-body, .sign-up-route-body {
  width: 20%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-link {
  background-color: #e7d7f350;
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  border: 1px solid black;
}

.sign-in-form > input,label, .sign-up-route-body > input,label {
  width: 90%;
  margin: 1%;
  border-radius: 5px;
}

.sign-in-form > button, .sign-up-link > button, .sign-up-route-body > button {
  width: 30%;
  min-width: 90px;
  margin-top: 10px;
  padding: 3px;
  border-radius: 5px;
}

.sign-out-route {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ACA9A9;
  padding: 10px;
  border-radius: 10px;
}

/* PROFILE PAGE STYING */

.profile-wrapper, .sign-out-wrapper {
  height: 100%;
  width: 100%;
  background-image: url('background_2.jpg');
  position: fixed;
  background-size: cover;
}

.profile-route-body {
  position: absolute;
  left: 50%;
  top: 10%;
  width: 90%;
  transform: translate(-50%);
  background-color: #d9d9d965;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

.profile-header {
  width: 90%;
  margin-top: 2%;
  background-color: #aca9a9a0;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.personal-best { 
  width: 30%;
  margin: 1%;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  background-color: #96B3BA;
}

.send-log-div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 20px;
  background-color: #a1ba96ad;
  display: flex;
  overflow-wrap: break-word;
}

.send-log-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 40% 40%;
}



