body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

#root {
  background-image: linear-gradient(0deg, #74969d 0%, #cdf1fb 100% ) 
}